<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742750324330-nvcn00clllukk2282g09n2mgditj9n94.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742750324330-nvcn00clllukk2282g09n2mgditj9n94</string>
	<key>API_KEY</key>
	<string>AIzaSyBrkhcCcMY3T2a9pBi9r9nNJ6F6qzmsWrk</string>
	<key>GCM_SENDER_ID</key>
	<string>742750324330</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.orchestra.nrv</string>
	<key>PROJECT_ID</key>
	<string>orchestra-5c305</string>
	<key>STORAGE_BUCKET</key>
	<string>orchestra-5c305.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:742750324330:ios:fa4804cd12bd51c162ac13</string>
</dict>
</plist>
